# Ignorar archivos y carpetas comunes de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Entornos virtuales
env/
venv/
ENV/
.venv/
.ENV/

# Archivos de configuración de usuario
*.env
*.env.*

# Archivos de bases de datos
*.sqlite3
*.db

# Archivos de logs
*.log

# Archivos de configuración de IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de migraciones de Django (si aplica)
migrations/

# Ignorar carpetas de servicios dockerizados
docker/qbittorrent/
docker/radarr/
docker/sonarr/
docker/jellyseerr/
docker/jellyfin/

# Otros
*.bak
*.swp
*.tmp

